#settings
  = form_for(@user) do |f|
    = render 'shared/error_messages', :object => f.object      
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :password
      = f.password_field :password
    .field
      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation
    .actions
      - if signed_in?
        = f.submit "Update"
      -else 
        = f.submit "Sign Up"
  - if signed_in?
    #gravatar
      .label Gravatar Profile Icon
      = gravatar_for @user, :size => 80
      %p
        %a{ :href => "http://gravatar.com/emails"} change
          