.feed-item
  .full
    .item-row
      .item-content
        =markdown"1. Write a post up to 140 characters\n2. Write a reply with the format: @username message"        
    .item-row
      .item-content
        %table
          %thead
            %tr
              %th you type:
              %th you see:
          %tbody
            %tr.odd
              %td *italics*
              %td= markdown("*italics*")
            %tr.even
              %td **bold**
              %td= markdown("**bold**")
            %tr.odd
              %td [nyt](www.nytimes.com)
              %td= markdown("[nyt](http://www.nytimes.com)")            
            %tr.even
              %td > quoted text
              %td= markdown("> quoted text")               
            %tr.odd
              %td 
                ```ruby
                %br
                puts 'hello world'
                %br
                ```
              %td= markdown("```ruby\nputs 'hello world'\n```")
            %tr.even
              %td 
                * item 1
                %br
                * item 2
                %br
                * item 3
              %td= markdown("* item 1\n* item 2\n* item 3")
              