#signin
  = form_for(:session, :url => sessions_path) do |f|
    %div{ :class => "field"}
      = f.label :login, "Username or Email"
      = f.text_field :login

    %div{ :class => "field"}
      = f.label :password
      = f.password_field :password

    %div{ :class => "actions" }
      = f.submit "Sign in"

    .field.alt
      New user?
      = link_to "Sign up now!", signup_path