%nav
  %li= link_to "Feed", root_path  
  %li= link_to "Users", users_path
  %li= link_to "Posts", current_user
  %li= link_to "Following", following_user_path(current_user)
  %li= link_to "Followers", followers_user_path(current_user)